/*茶色：rgb(126,95,77)*/
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   background-color: #ffffe0;
}
header {
   padding: 30px 4% 30px;
   top: 0;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   /*縦じま*/
	background-image: repeating-linear-gradient(
	    90deg,
	    #ffffff 0px,#ffffff 20px,
	    #ffff00 20px,#ffff00 22px,
	    #ffffff 22px,#ffffff 24px,
	    #ffff00 24px,#ffff00 44px,
	    #ffffff 44px,#ffffff 46px,
	    #ffff00 46px,#ffff00 48px);
    border-top: double 7px #7e5f4d;
    border-bottom: double 7px #7e5f4d;
}

h1 {
   margin: 0; padding: 0;
   font-size: 25px;
}
a {	
   text-decoration: none;
   color: #7e5f4d;
}
.pc-nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
.pc-nav img{
width: 25px;
height: 25px;
}
.deco img{
	width: 100%;
}


/*
 * 商品一覧
 */
.product-list img{
	width: 100px;
	height: 100px;
}
.product-list{
    margin-left: auto;
    margin-right: auto;
}
.product-list th{
   font-size: 25px;
   color: #7e5f4d;
}
.product-list td{
   color: #7e5f4d;
   width: 200px;
   height: 200px;
   text-align:center;
   vertical-align:middle;
}